<h1><%= @recipient.name %></h1>

<% if @emails.length > 0 %>
<table class="table table-bordered table-striped">
  <tr>
    <th>Sent</th>
    <th>Message</th>
    <th>Scheduled For</th>
<!--    <th></th>
    <th></th> -->
  </tr>

<% @emails.each do |email| %>
  <tr>
  	<td><%= email.sent ? "Yes" : "No" %>
    <td>
      <strong><%= email.subject %></strong>
      <br/>
      <%= simple_format(email.body) %>
    </td>
    <td><%= l email.send_time, :format => :quick %></td>
<!--    <td><%= link_to 'Edit', edit_campaign_recipient_email_path(@campaign, @recipient, email), :class => "btn btn-small" %></td>
    <td><%= link_to 'Delete', [@campaign, @recipient, email], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small" %></td>-->
  </tr>
<% end %>
</table>
<% end %>