<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @recipient.subject %>
</p>

<p>
  <b>Body:</b>
  <%= @recipient.body %>
</p>

<p>
  <b>Delay:</b>
  <%= @recipient.delay / 60 %> Hours
</p>


<%= link_to 'Edit', edit_campaign_recipient_path(@campaign, @recipient) %> |
<%= link_to 'Back', campaign_recipients_path %>
